
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100" style="padding: 105px 112px 105px 112px; display: flex; flex-direction: column;">
      <h1 class="login100-form-title" style="margin: auto; font-size: 2.5rem;">Welcome</h1>

      <a style="margin: auto;" href="/logout"><button style="width: fit-content;
    margin: auto;
    margin-top: 50px;" class="btn btn-primary me-md-2" type="button"> Logout</button></a>


    </div>
  </div>
</div>
